<!-- <div class="container md-auto"> 
  <h2>DETAILS OF THE STUDENTS ENROLLED</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">StudentID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Contact Details</th>
      <th scope="col">Qualification</th>
      <th scope="col">Passout Year</th>
      <th scope="col">SkillSet</th>
      <th scope="col">Employment Status</th>
      <th scope="col">Course Selected</th>
      <th scope="col">Couse Year</th>
      <th *ngIf="loggedIn" scope="col">Payment Status</th>
      <th *ngIf="loggedIn" scope="col">Approval Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students" class="table-light">
      <th scope="row"> {{student.studentID}} </th>
      <td>{{student.Name}}</td>
      <td>{{student.PhNumber}}</td>
      <td>{{student.Email}}</td>
      <td>{{student.qlfn}}</td>
      <td>{{student.passyear}}</td>
      <td>{{student.SkillSet}}</td>
      <td>{{student.status}}</td>
      <td>{{student.traincourse}}</td>
      <td>{{student.year}}</td>
      <td *ngIf="loggedIn">{{student.paymentStatus}}</td>
      <td *ngIf="loggedIn">{{student.approvalStatus}}</td>
      <td>    
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actions</a>
          <div class="dropdown-menu" >
            <a class="dropdown-item" (click)="viewStudent(student._id)">View</a>
            <a class="dropdown-item" *ngIf="loggedIn" (click)="editStudent(student._id)">Edit</a>
            <a class="dropdown-item" *ngIf="loggedIn" (click)="deleteStudent(student._id)">Delete</a>
            <a class="dropdown-item" *ngIf="loggedIn" (click)="approve(student._id,student.Email)">Approve</a>
         
          </div>
      </td>
      
    </tr>
  </tbody>
</table>
</div>
<br> -->
<!-- Modification starts here -->
<mat-toolbar>
  &nbsp;&nbsp;
  Details of students enrolled
  &nbsp;&nbsp;

  <span class="example-spacer"></span>
  <button mat-icon-button color="accent" [matMenuTriggerFor]="Filter"> 
    <mat-icon [ngStyle]="{'color':'#008cba'}">filter_alt</mat-icon>  
  </button>
  <button mat-icon-button (click)="onReset()">
    <mat-icon color="warn">clear</mat-icon>
  </button>
  <mat-menu #Filter="matMenu">
    <button  mat-menu-item [matMenuTriggerFor]="Course">
      ICTAK COURSE
    </button>
    <mat-menu #Course="matMenu">
      <button mat-menu-item (click)="course1()">
        COURSE1
      </button>
      <button mat-menu-item (click)="course2()">
        COURSE2
      </button>
      <button mat-menu-item (click)="course3()">
        COURSE3
      </button>
      <mat-divider></mat-divider>
      <button (click)="onReset()" mat-menu-item>
        Clear Filter
      </button>
    </mat-menu>
    <button  mat-menu-item [matMenuTriggerFor]="year">
      GRADUATION YEAR
    </button>
    <mat-menu #year="matMenu">
      <button mat-menu-item (click)="after2021()">
        2021 and After 2021
      </button>
      <button mat-menu-item (click)="before2021()">
        Between 2021 and 2015
      </button>
      <button mat-menu-item (click)="before2015()">
        Before 2015
      </button>
      <mat-divider></mat-divider>
      <button (click)="onReset()" mat-menu-item>
        Clear Filter
      </button>
    </mat-menu>
    <button *ngIf="loggedIn" mat-menu-item [matMenuTriggerFor]="approval">
      APPROVAL STATUS
    </button>
    <mat-menu #approval="matMenu">
      <button mat-menu-item (click)="approved()">
        APPROVED
      </button>
      <button mat-menu-item (click)="pending()">
        PENDING
      </button>
      <mat-divider></mat-divider>
      <button (click)="onReset()" mat-menu-item>
        Clear Filter
      </button>
    </mat-menu>
    <button *ngIf="loggedIn" mat-menu-item [matMenuTriggerFor]="payment">
      PAYMENT STATUS
    </button>
    <mat-menu #payment="matMenu">
      <button mat-menu-item (click)="notpaid()">
        NOT PAID
      </button>
      <button mat-menu-item (click)="paid()">
        PAID
      </button>
      <mat-divider></mat-divider>
      <button (click)="onReset()" mat-menu-item>
        Clear Filter
      </button>
    </mat-menu>

  </mat-menu>
  <mat-form-field style="width: 250px; color: #008cba; ">
      <input matInput  (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</mat-toolbar>
<div class="container mb-5">
  <div class="mat-elevation-z8">
      <table class="table table-hover" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="studentID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>studentID </th>
            <td mat-cell *matCellDef="let element" > {{element.studentID}} </td>
          </ng-container>
          <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.Name}}</td>
          </ng-container>

          <ng-container matColumnDef="PhNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> PhNumber </th>
              <td mat-cell *matCellDef="let element" >{{element.PhNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element" >{{element.Email}} </td>
        </ng-container>
        <ng-container matColumnDef="SkillSet">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SkillSet </th>
          <td mat-cell *matCellDef="let element" >{{element.SkillSet | slice:0:20}} </td>
        </ng-container>
          <ng-container matColumnDef="qlfn">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Qualification </th>
              <td mat-cell *matCellDef="let element" > {{element.qlfn}} </td>
          </ng-container>
          <ng-container matColumnDef="passyear">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Year of Graduation </th>
              <td mat-cell *matCellDef="let element" > {{element.passyear}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > Employment Status </th>
              <td mat-cell *matCellDef="let element" > {{element.status}} </td>
          </ng-container>
          <ng-container matColumnDef="traincourse">
              <th mat-header-cell *matHeaderCellDef mat-sort-header > ICTAK Course </th>
              <td mat-cell *matCellDef="let element" > {{element.traincourse }} </td>
          </ng-container>
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header >Year of ICTAK Course </th>
            <td mat-cell *matCellDef="let element" > {{element.year }} </td>
          </ng-container>
        <ng-container matColumnDef="paymentStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Payment Status </th>
          <td mat-cell *matCellDef="let element" > {{element.paymentStatus }} </td>
        </ng-container>
        <ng-container matColumnDef="approvalStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > Approval Status </th>
          <td mat-cell *matCellDef="let element" > {{element.approvalStatus }} </td>
        </ng-container>
        <!-- <ng-container matColumnDef="traincourse">
          <th mat-header-cell *matHeaderCellDef > Other Technical training </th>
          <td mat-cell *matCellDef="let element" > {{element.traincourse }} </td>
        </ng-container> -->
          <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                  <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <div class="d-flex">
                          <div class="p-2 bd-highlight">
                              <img [src] = 'element.photo' style="width:100px;height:100px" >
                          </div>
                          <div class="p-2 bd-highlight">
                              <h4 mat-line class="example-element-description-attribution">SKILLS:</h4>
                              <p mat-line> {{element.SkillSet}} </p>
                          </div>
                     
                          
                      </div>
                  </div>
              </td>
          </ng-container>
          <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions </th>
              <td mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon [ngStyle]="{'color':'#008cba'}">more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                      <button *ngIf="loggedIn" mat-menu-item (click)="editStudent(element._id)">
                        <mat-icon [ngStyle]="{'color':'#008cba'}">edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="viewStudent(element._id)">
                        <mat-icon [ngStyle]="{'color':'#008cba'}">view</mat-icon>
                        <span>view</span>
                      </button>

                      <button *ngIf="loggedIn" mat-menu-item (click)=deleteStudent(element._id)>
                        <mat-icon [ngStyle]="{'color':'#f04124'}">delete</mat-icon>
                        <span>Delete</span>
                      </button>
                      <button *ngIf="loggedIn" mat-menu-item (click)="approve(student._id,student.Email)">
                        <mat-icon [ngStyle]="{'color':'#f04124'}">pending_actions</mat-icon>
                        <span>Approve</span>
                      </button>
                    </mat-menu>
              </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No Data </td>
          </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>


<!-- Modification endss here -->



