  

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>Boost your Skills with the New Technologies</h2>
      <a href="https://ictkerala.org/courses/" class="btn-get-started">Get Started</a>
    </div>
  </section>
  <!-- End Hero -->

            <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">
  
          <div class="row counters">
  
            <div class="col-lg-4 col-6 text-center">
              <span>{{stCount}}</span>
              <h2 style="margin-top: 20px;">Students</h2>
            </div>
  
            <div class="col-lg-4 col-6 text-center">
              <span>{{cousCount}}</span>
              <h2 style="margin-top: 20px;">Courses</h2>
            </div>
  
            <div class="col-lg-4 col-6 text-center">
              <span>{{trCount}}</span>
              <h2 style="margin-top: 20px;">Trainers</h2>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- End Counts Section -->
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="assets/images/course-details-tab-2.png" height="500" alt="..." /></a>
                        <div class="card-body">
                            <h2 class="card-title">ICT ACADEMY OF KERALA</h2>
                            <p class="card-text">ICT Academy of Kerala, professionally managed by a team of committed leaders offers various trainings and development programmes for students and teachers for engineering colleges. ICT Academy of Kerala has influenced thousands of students and teachers in the state and made them realize the significance of employability.</p>
                            <a mat-button href="https://r.search.yahoo.com/_ylt=Awr9IlCJWuFgRwoADtq7HAx.;_ylu=Y29sbwNncTEEcG9zAzEEdnRpZANDMjAwMV8xBHNlYwNzcg--/RV=2/RE=1625410314/RO=10/RU=https%3a%2f%2fictkerala.org%2f/RK=2/RS=fX._PwydIKs885.5ZpltByy9NvA-">Read more →</a>
                        </div>
                    </div>
                   
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">COURSES</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <mat-list>
                                        <mat-list-item>
                                            <a href="https://ictkerala.org/xr-learning-path/">CERTIFIED XR ASSOCIATE</a>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <a href="https://ictkerala.org/cyber-security-analyst/">CERTIFIED CYBER SECURITY ANALYST</a>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <a href="https://ictkerala.org/certified-specialist-in-full-stack-development/">CERTIFIED SPECIALIST IN FULL STACK DEVELOPMENT</a>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <a href="https://ictkerala.org/certified-specialist-in-data-science-analytics/">CERTIFIED SPECIALIST IN DATA SCIENCE & ANALYTICS</a>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <a href="https://ictkerala.org/robotic-process-automation/">MICRO SKILLS TRAINING ON ROBOTIC PROCESS AUTOMATION</a>
                                        </mat-list-item>
                                        <mat-list-item>
                                            <a href="https://ictkerala.org/certified-specialist-in-machine-learning-and-artificial-intelligence/">CERTIFIED SPECIALIST IN MACHINE LEARNING AND ARTIFICIAL INTELLIGENCE</a>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ICTAK 2021</p></div>
        </footer>



